body {
  text-align: center;
  font-family: 'Fauna One', serif;
  background-color: #FCEEE4;
}

 a {
   text-decoration: none;
   color: black;
 }

 a:hover {
   text-decoration: none;
   color: #6495ED;
   font-style: italic;
 }

header {
  background: url("../../resources/images/sky.png") no-repeat center center / 100% auto;
  background-color: green;
  height: 100%;
}

#avatar {
  height: 200px;
  width: 202px;
  border-radius: 100%;
  margin: 70px 20px 0px 20px;
}

#avatar:hover {
  height: 210px;
  width: 212px;
}

#name {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
}

#contact {
  padding-bottom: 70px;
  opacity: 0.75;
  font-size: 20px;
}
