body {
  text-align: center;
  font-family: 'Fauna One', serif;
  background-color: #FCEEE4;
}

 a {
   text-decoration: none;
   color: black;
 }

 a:hover {
   text-decoration: none;
   color: #6495ED;
   font-style: italic;
 }

#projects {
  background-image: url("../../resources/images/sky.png");
  width: 300px;
  height: 200px;
}

#avatar {
  height: 200px;
  width: 202px;
  border-radius: 100%;
  margin: 20px 20px 0px 20px;
}

#avatar:hover {
  height: 210px;
  width: 212px;
}

#name {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}
