body {
  font-family: Helvetica;
  text-align: center;
}

.broadway {
  color: white;
  text-align: center;
  font-weight: bold;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.navoptions {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.content p {
  font-size: 14px;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
